/* src/components/Footer.css */
.footer {
  padding: 1rem 2rem;
  background: var(--secondary-background);
  text-align: center;
  border-top: 1px solid var(--secondary-borcder);
  font-size: 0.9rem;
  color: var(--text-muted);
}
